$app-font-color: #f1edee;
$app-font-color-2: #8aa29e;
$app-bg-color: #3d5467;
$app-bg-color-2: #686963;
$app-warning-color: #db5461;
$action-button-color: #62898b;
$card-color: rgba(25, 25, 50, 1);
$card-shadow-color: rgba(20, 20, 50, .5);
$ok-color: rgba(100, 210, 100, .6);
$cancel-color: rgba(255, 100, 100, .8);
